.different-wrapper {
    margin-top: 40px;
    gap: 40px;

    @media (max-width: 1000px) {
        gap: 10px;
    }

    & > div {
        max-width: 656px;
    }

    .different-wrapper__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 2;
        @media (max-width: 1000px) {
            flex: 1;
        }
        & > h1 {
            font-family: "PeckhamPress";
            // font-size: 2.5rem;
            font-size: clamp(calc(2.5 / 2) * 1rem, 2.5 * 1.2vw, 2.5rem);
        }

        .content__points {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            align-items: center;

            .points__point {
                display: flex;
                flex-direction: row;
                flex: 1 1 calc(50% - 20px);
                box-sizing: border-box;
                align-items: center;
                gap: 10px;
                height: 50px;

                @media (max-width: 1000px) {
                    flex: 100%;
                    height: auto;
                }

                & > p {
                    width: 250px;
                    letter-spacing: 2%;
                    color: #808080;
                }

                &:nth-child(8) {
                    align-items: start;

                    & > p span {
                        font-size: 0.875rem;
                    }
                }
            }
        }
    }

    .different-wrapper__image {
        flex: 1;
    }
}
