.benefit-wrapper {
    margin-top: 80px;
    gap: 40px;
    @media (max-width: 1000px) {
        gap: 10px;
        margin-top: 40px;
    }

    .wrapper__info {
        flex: 2;
        max-width: 661px;
        gap: 60px;
        @media (max-width: 1000px) {
            gap: 20px;
            flex: 1;
        }
        & > h1 {
            font-family: "PeckhamPress";
            // font-size: 3.125rem;
            font-size: clamp(calc(3.125 / 2) * 1rem, 3.125 * 1.2vw, 3.125rem);
            letter-spacing: 2%;
            line-height: 124%;
        }

        .info__points {
            gap: 20px;
            .points__point {
                display: flex;
                align-items: center;
                flex: 1 1 calc(50% - 20px);
                gap: 10px;
                & > p {
                    color: #808080;
                    width: 260px;
                }
            }
        }
    }

    .wrapper__image {
        flex: 1;
        @media (max-width: 600px) {
            position: absolute;

            img {
                opacity: 0.15;
                max-width: 400px;
                width: 95vw;
            }
        }
    }
}
