.include-wrapper {
    margin-top: 60px;
    gap: 40px;
    @media (max-width: 600px) {
        margin-top: 40px;
    }
    .include-wrapper__content {
        flex: 2;
        max-width: 539px;
        gap: 20px;

        @media (max-width: 1000px) {
            flex: 1;
        }
        h1 {
            font-family: "PeckhamPress";
            font-size: clamp(calc(2.5 / 2) * 1rem, 2.5 * 1.2vw, 2.5rem);
        }
        ul {
            list-style-type: disc;
            padding: 0 30px;
            li {
                color: #808080;
                font-size: 1.25rem;
            }
        }
    }
    .include-wrapper__image {
        flex: 1;

        @media (max-width: 600px) {
            position: absolute;
            right: 0;

            img {
                opacity: 0.25;
                align-self: center;
                max-width: 400px;
                width: 100vw;
            }
        }
    }
}
