.wrapper {
    background: #000;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

    .wrapper__container {
        max-width: 1440px;
        padding: 0 4rem;
        @media (max-width: 1000px) {
            padding: 0 1rem;
        }
    }
}
