$details-font-size: 2.125rem;

@mixin details-font-props($font-size: $details-font-size, $font-weight: bold) {
    font-family: "Inter", sans-serif;
    font-weight: $font-weight;
    font-size: $font-size;
    color: white;
}

.banner-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    & > h1 {
        color: #191919;
        font-family: "PeckhamPress";
        font-size: 6.6875rem;
        letter-spacing: 2%;
        text-wrap: nowrap;
    }
}

.banner-wrapper__info {
    .info__text {
        gap: 40px;
        flex: 1;
        & > h1 {
            font-family: "PeckhamPress";
            font-size: 3.625rem;
            line-height: 107%;
            transform: translateY(100px);
            opacity: 0;
            animation: slideUpAnimation 1s 0.1s ease-in-out forwards;
        }
        & > p {
            font-style: 18px;
            line-height: 161%;
            color: #808080;
            max-width: 65%;
            transform: translateY(40px);
            opacity: 0;
            animation: slideUpAnimation 1s 0.1s ease-in-out forwards;
        }

        .text__details {
            gap: 20px;
            .details__detail {
                .amount {
                    max-height: $details-font-size +
                        calc($details-font-size / 2);
                    display: flex;
                    align-items: flex-start;
                    overflow: hidden;
                    gap: 10px;
                    .amount__group {
                        display: flex;
                        gap: 5px;
                        & > div ul {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            transform: translateY(0%);
                            bottom: 0;
                            position: relative;

                            animation: detailsAnimation 1s 0.1s ease-in-out
                                forwards;
                            .placeholder {
                                height: $details-font-size +
                                    calc($details-font-size / 2);
                            }

                            li {
                                @include details-font-props($font-weight: 900);
                                width: min-content;

                                img {
                                    margin-top: calc($details-font-size / 2);
                                    height: $details-font-size;
                                    min-width: $details-font-size;
                                    position: relative;
                                    bottom: calc($details-font-size / 4);
                                }
                            }

                            & > .plus {
                                transform: translateY(
                                    -(calc($details-font-size / 16))
                                );
                            }
                        }
                    }

                    p {
                        @include details-font-props($font-size: 1rem);
                        position: relative;
                        transform: translateY(calc($details-font-size / 2));
                        left: -15px;
                        animation: textAnimation 1s 0.1s ease-in-out forwards;
                    }
                }

                p {
                    text-wrap: nowrap;
                    max-width: 100%;
                    color: #808080;
                }
            }
        }

        .text__button {
            opacity: 0;
            transform: translateY(50px);
            animation: slideUpAnimation 1s 0.1s ease-in-out forwards;
        }

        .text__description {
            gap: 10px;
            p:nth-child(1) {
                color: #fff;
            }
            p:nth-child(2) {
                color: #35fcfb;
                font-weight: 900;
                letter-spacing: 1px;
            }
        }

        .text__partners {
            gap: 10px;

            img {
                height: 40px;
            }
        }
    }

    .info__product {
        flex: 1;
        opacity: 0;
        animation: productAppearenceAnimation 1s 0.1s ease-in-out forwards;
    }
}

.banner-wrapper__whatIsItAbout {
    display: flex;
    align-items: center;
    gap: 80px;
}

@keyframes slideUpAnimation {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes detailsAnimation {
    to {
        transform: translateY(-100%);
        bottom: -($details-font-size + calc($details-font-size / 2));
    }
}
@keyframes textAnimation {
    to {
        left: 0;
    }
}
@keyframes productAppearenceAnimation {
    to {
        opacity: 1;
    }
}
